.features {
  color: white;
  background-color: #991b1b;
  padding: 128px 32px;
}

.hero-image {
  width: 100%;
}

.features h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 48px;
}

.features h3 {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 500;
  margin-top: 32px;
}

.features p {
  font-size: 16px;
  line-height: 22px;
  color: #f3f4f6;
}

#contact {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

#contact ~ p {
  font-size: 24px;
  line-height: 32px;
  color: #f59e0b;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
