.pricing-content {
  padding: 96px 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.pricing-heading {
  margin-bottom: 96px;
}

.pricing-heading h1 {
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 24px;
}

@media (min-width: 700px) {
  .pricing-heading h1 {
    font-size: 48px;
    line-height: 1;
  }
}

@media (min-width: 1100px) {
  .pricing-heading h1 {
    font-size: 60px;
  }
}

.pricing-heading p {
  color: var(--gray-500);
  font-size: 20px;
  line-height: 28px;
}

.pricing-tiers {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media (min-width: 1100px) {
  .pricing-tiers {
    flex-flow: row;
    gap: 32px;
  }
}

.pricing-item {
  font-size: 16px;
  line-height: 28px;
  padding: 32px;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
}

.pricing-item h2 {
  font-weight: 600;
  display: inline-block;
}

.pricing-badge {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 2px 16px;
  border-radius: 100px;
  color: white;
  background-color: #d97706;
}

.pricing-item-price {
  margin: 16px 0 24px;
}

.pricing-item-price .amount {
  font-size: 48px;
  line-height: 1;
  font-weight: 800;
}

.pricing-item-desc {
  color: var(--gray-500);
  margin-bottom: 24px;
}

.pricing-item-features {
  color: var(--gray-500);
  line-height: 24px;
  list-style-type: disc;
  padding-left: 24px;
}

.pricing-item-features > li {
  margin-bottom: 24px;
}
