.hero-content {
  padding: 64px 16px 80px;
  text-align: center;
}

.hero-content h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 800;
  margin-bottom: 12px;
}

.hero-content .primary {
  color: #4f46e5;
  display: block;
}

.hero-content p {
  font-size: 18px;
  line-height: 28px;
  color: #6b7280;
}

@media (min-width: 1000px) {
  .hero-content h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .hero-content p {
    font-size: 24px;
    line-height: 32px;
  }
}

.hero-image {
  width: 100%;
}

.feature-section {
  padding: 48px 16px;
}

.feature-section h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 800;
}

.feature-item {
  margin-top: 40px;
  padding: 10px 16px 16px;
  background-color: #f3f4f6;
  position: relative;
}

.feature-item h3 {
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #111827;
}

.feature-item img {
  position: absolute;
  top: -8px;
  right: -8px;
}

.feature-item p {
  font-size: 16px;
  line-height: 24px;
  color: #6b7280;
}
